
*{
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    margin: 0;
    padding: 0;

}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
}
.contenedor{
height: 90vh;
width: 380px;
border-radius: 10px;
box-shadow: 0 5px 15px rgba(0,0, 0, 0.2);
background-color: white;
overflow: hidden;
}
.cabecera{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 20px;
    background-color: #247186;
    color: white;
}
.cabecera span{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #28ffc6;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.producto{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.caja{
    display: flex;
    align-items: center; 
    justify-content: space-between;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    width: 90%;
}
.detalles{
    width: 50%;
}
.detalles p{
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;

}
.detalles h4{
    margin-bottom: 20px;
    color: #555;
    font-size: 24px;
}
.detalles button{
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: #247186;
    padding: 10px 20px;
    color: white;
    transition: background-color 0.3s ease;

}
.detalles button:hover{
    background-color: #28ffc6;
    cursor: pointer;
}
.imagen {
    width: 50%;
}
.imagen img{
    width: 100%;
    height: auto;
}
