body{
    margin: 0;
    padding: 0;
    font-family: montserrat;
    background: linear-gradient(150deg, #6c3483, #58d68d);
    height: 100vh;
}
.formulario{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    background: white;
    border-radius: 10px;
}
.formulario h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}
.formulario form {
    padding: 0 40px;
    box-sizing: border-box;

}
form.username{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}
.usename input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16 px ;
    border: none;
    background: none;
    outline: none;
}
.usename label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
}
.usename span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #6c3483;
    transition: .5s;
}
.usename input:focus ~ label
.usename input:focus ~ label{
top:-5px;
color: #6c3483;
}
.usename input~ span::before,
.usename input~ span::before{
    width: 100%;
}
.recordar{
    margin: -5px 0 20px 5px;
    color: blue;
    cursor: pointer;
}
.recordar :hover{
    text-decoration: underline;
}
input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: blue;
}